<div class="row">
    <div class="pull-left" ng-if="mode=='edit'">
        <h4>Edit User ID#{{user.id}}</h4>
    </div>

    <div class="pull-left" ng-if="mode=='view'">
        <h4>View User ID#{{user.id}}</h4>
    </div>

    <div class="pull-left" ng-if="mode=='new'">
        <h4>New User</h4>
    </div>

    <div class="pull-right">
        <button class="btn btn-default btn-sm" type="button" ng-click="back()">
            <span class="fa fa-reply"></span> Back
        </button>
        <button type="button" class="btn btn-default btn-sm" type="submit" data-toggle="modal" data-target="#deleteModal" ng-if="mode=='view'"
            Style="padding-right:10px">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
        <button type="button" class="btn btn-default btn-sm" Style="padding-right:10px" ng-click="edit()" ng-if="mode=='view'">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        <button class="btn btn-default btn-sm" Style="padding-right:10px" type="button" ng-click="cancel()" ng-if="mode=='edit'">
            Cancel
        </button>
        <button class="btn btn-default btn-sm" Style="padding-right:10px" type="button" ng-click="reset()" ng-if="mode=='edit' || mode=='new'">
            Reset
        </button>
        <button class="btn btn-default btn-sm" Style="padding-right:10px" type="submit" form="userForm" ng-if="mode=='edit' || mode=='new'">
            <span class="fa fa-floppy-o"></span> Save
        </button>
    </div>
</div>