<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="row">
    <div class="navbar-header" style="margin-left: 15px">
      <a href="#" class="navbar-brand">BOOK RENTAL</a>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-collapse" role="navigation" style="padding-top: 50px; position : fixed; 
z-index: 1000;width:100%;">

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#/" class="fa fa-home large-font" class="fa fa-home">Home</a></li>
      <li>
          <a class="fa fa-book large-font" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
            Users<span class="caret"></span>       
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/users">View Users</a></li>
            <li><a href="#/user">Add New</a></li>
          </ul>
        </li>
      <li>
        <a class="fa fa-book large-font" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
          Books<span class="caret"></span>       
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/books">View Books</a></li>
          <li><a href="#/book">Add New</a></li>
        </ul>
      </li>
      <li>
        <a  class="fa fa-wpforms large-font" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
            Rentals<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/rentals">View Rentals</a></li>
          <li><a href="#/rental">Add New</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>